@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela+Round&display=swap');
*{
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
}
.logo{
    margin:10px 30px;
}
.nav-about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: orange;
    padding: 10px 0;
    text-align: center;
}
.nav-about-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin-right: 100px;
    color: white;
    font-weight: 600;
}
.nav-about-items li{
    font-weight: 400;
    list-style: none;
}
.nav-about-items a{
    text-decoration: none;
    color: white;
    font-size: large;
}
/* here is the content section   */
.about-heading{
    text-align: center;
    margin: 30px 0;
}
/* time for footer section  */
.footer{
    height: 50px;
    background-color: orange;
    padding: 20px 0;
    margin-top: 50px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.f-items1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.f-items1 li{
    list-style: none;
    margin: 0 15px;
    color: white;
    font-size: medium;
}
.f-items1 a{
    text-decoration: none;
    color: white;
    font-size: medium;
}