@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela+Round&display=swap');
*{
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    height: 110px;
    align-items: center;
    padding: 10px 20px;
    background-color: orange;}
.logo{
    margin: 20px;

}
.nav-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 30px;   
}

.nav-items li{
    padding: 15px 20px;
    list-style: none;
    font-size: larger;
    color: white;
}
.nav-items a{
    text-decoration: none;
    color: white;
}
.nav-form{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.nav-btn{
    /* layout and shape */
    display: inline-block;
    padding: 10px 25px;
    border-radius: 50px;
    /* color and text */
    background-color: white;
    text-decoration: none;
    font-size: 16px;
    width: 150px;
    margin: 20px 25px;
    /* interaction */
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
}
.nav-btn:hover{
    background-color: #f29b06;
}
/* from there content */
.cont-img{
    /* margin: 20px; */
    /* width: 100vw; */
    height: 400px;
}
.cont-img img{
    margin: 10px 20px;
    width: 95vw;
    height: 40;
}
/* from there footer code  */
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: orange;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}
.f-items1{
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    margin: 20px 30px;
    list-style: none;
}