@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela+Round&display=swap');
*{
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
}
/* it will center the login box in the middle of the screen */ 
.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
/* the actual box */
.login-box{
    background-color: white;
    /* border: 2px solid orange; */
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 1);
    width: 30vw;
    text-align: center;
}
.login-box h2{
    margin-bottom: 30px;
    color: #333;
}
/* input styling starts from here  */
.input-group{
    text-align: left;
    margin-bottom: 20px;
}
.input-group label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #666;
}
.input-group input{
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
}   
.login-submit{
    width: 150px;
    height: 40px;
    margin-top: 20px;
    background-color: orange;
    border: none;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}   
.footer-text{
    margin-top: 20px;
    font-size: 14px;
    color: #999;
}